header {
	width: 100vw;
	height: 12.5vh;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		text-decoration: none;
		font-family: 'Pacifico', cursive;
		color: $main-color;
		font-size: 2rem;
	}
}

body {
	background-color: $background-color;
	color: $main-color;
}

nav {
	display: grid;
	grid-gap: 3vw;
	grid-template-columns: 1fr 1fr 2fr;
	margin: 3vh 10vw;

	input {
		text-indent: 10px;
		margin: 3vh 0;
	}
}

@media (max-width: $wide-mobile) {
}

@media (max-width: $medium-mobile) {
	nav {
		grid-template-columns: 1fr 1fr;

		input {
			grid-column: span 2;
		}
	}
}

@media (max-width: $narrow-mobile) {
	nav {
		display: grid;
		grid-template-columns: 1fr 1fr;
		button {
			grid-column: span 2;
		}
	}
}
