header {
	width: 100vw;

	img {
		width: 100vw;
	}
}

body {
	background-color: $background-color;
	color: $main-color;
}

nav {
	display: grid;
	grid-gap: 3vw;
	grid-template-columns: 1fr 1fr 2fr;
	margin: 3vh 10vw;

	input {
		text-indent: 10px;
		margin: 3vh 0;
	}
}

@media (max-width: $wide-mobile) {
	header {
		width: 100vw;
		overflow: hidden;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 150vw;
		}
	}
}

@media (max-width: $medium-mobile) {
	nav {
		grid-template-columns: 1fr 1fr;

		input {
			grid-column: span 2;
		}
	}
}

@media (max-width: $narrow-mobile) {
	header {
		width: 100vw;
		overflow: hidden;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 167vw;
		}
	}

	nav {
		display: grid;
		grid-template-columns: 1fr 1fr;
		button {
			grid-column: span 2;
		}
	}
}
