@import './config', './backToTopBtn', './headerNav', './categoriesAreas', './results', './mealBody';

button {
	background-color: $background-color;
	border: none;
	outline: none;
	color: $main-color;
	border: none;
	cursor: pointer;
	font-weight: 700;
	margin: 1vh 0;
}

.is-hidden {
	display: none;
}

body {
	overflow-x: hidden;
}
