@import './config', './backToTopBtn';

header {
	width: 100vw;

	img {
		width: 100vw;
	}
}

body {
	background-color: $background-color;
	color: $main-color;
}

nav {
	display: grid;
	grid-gap: 3vw;
	grid-template-columns: 1fr 1fr 2fr;
	margin: 3vh 10vw;

	button {
		background-color: $background-color;
		border: none;
		cursor: pointer;
		font-weight: 700;
	}

	input {
		text-indent: 10px;
	}
}

.is-hidden {
	display: none;
}

@media (max-width: $wide-mobile) {
	header {
		width: 100vw;
		overflow: hidden;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 150vw;
		}
	}
}
